In [ ]:
#Q1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
#the list.
#Ans.

def sum_even_numbers(*numbers):
  return sum (num for num in numbers if num % 2==0)

In [ ]:
sum_even_numbers(1,2,3,4,5,6)

12

In [ ]:
#Q2. Create a Python function that accepts a string and returns the reverse of that string.

#Ans.
def func(name):
  return name [::-1]

In [ ]:
func("pwskills")

'sllikswp'

In [ ]:
#Q3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
#each number.
#Ans.
def square_no(args):
  sq =[]
  for i in args:
    sq.append(i**2)
  return sq

In [ ]:
args =[1,2,3,4,5,6]
square_no(args)

[1, 4, 9, 16, 25, 36]

In [ ]:
#Q4. Write a Python function that checks if a given number is prime or not from 1 to 200.
#Ans.


# I can not understand ....

In [ ]:
#Q5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
#terms.
#Ans.
fib = lambda n: n if n<=1 else fib (n-1) + fib (n-2)

In [ ]:
[fib (i) for i in range (10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#Q6. Write a generator function in Python that yields the powers of 2 up to a given exponent.
#Ans.
def powers_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

In [ ]:
a = powers_of_two(10)

In [ ]:
next (a)

1

In [ ]:
next (a)

2

In [ ]:
next (a)

4

In [ ]:
next (a)

8

In [ ]:
next(a)

16

In [ ]:
next (a)

32

In [ ]:
#Q7. Implement a generator function that reads a file line by line and yields each line as a string
#Ans.


# I can not do it...

In [ ]:
#Q8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.
#Ans.
x = [(2,3),(4,5),(7,8), (8,9), (3,4)]

In [ ]:
sorted (x, key = lambda x: x[1])

[(2, 3), (3, 4), (4, 5), (7, 8), (8, 9)]

In [ ]:
#Q9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.
#Ans.
def celsius(x):
  return (x*9/5)+32

In [ ]:
lis = [35,38,40]

In [ ]:
list(map (celsius, lis))

[95.0, 100.4, 104.0]

In [ ]:
#Q10. Create a Python program that uses `filter()` to remove all the vowels from a given string.
#Ans.
def remove_vowels(input_string):
    def is_vowel(char):
        return char.lower() in 'aeiou'

    return ''.join(filter(lambda x: not is_vowel(x), input_string))

In [ ]:
remove_vowels("temperature")

'tmprtr'

In [ ]:
#Q11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

#Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
# product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
# order is smaller than 100,00 €.

# Write a Python program using lambda and map.

#Ans.

In [ ]:
def accounting(routine):
    return list(map(lambda x: (x[0], x[2]*x[3] + (10 if x[2]*x[3] < 100 else 0)), routine))

In [ ]:
book_shop =[
    ["order no.34587", "Learning Python, Mark Lutz", 40.95, 4],
    ["order no.98762", "Programing Python , Mark Lutz", 56.80, 5],
    ["order no.77226", "Head First Python, Paul Barry", 32.95, 3],
    ["order no.88112", "Einfuhrung in Python3, Bernd Klein", 24.99, 3]
    ]

In [ ]:
result = accounting(book_shop)
print (result)

[('order no.34587', 163.8), ('order no.98762', 284.0), ('order no.77226', 108.85000000000001), ('order no.88112', 84.97)]

In [ ]:
# some topics that are not explained in recorded lecture or live class
# so I am not able to do that